<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{0,0},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{500,0},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1000,0},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1500,0},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{0,500},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{500,500},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1000,500},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,500}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1500,500},{500,500}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{2000,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ebe8beccb23ca8b9fe311619d896a47:1ed1010caf0324d47f917aa647b50ad6:40fc28813065df0ba4b7b99308dd61fb$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
